body {
  font-family: Arial;
  padding: 20px;
  background: #111;
  color: #eee;
}

input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

video {
  width: 100%;
  margin-top: 20px;
  background: black;
}
#channelList {
  margin-top: 20px;
}

.channel-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #222;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.channel-item:hover {
  background: #333;
}

.logo {
  width: 40px;
  height: 40px;
}
